%section-padding {
    padding-top: $spacing-sm;
    padding-bottom: $spacing-sm;

    @include media-breakpoint-up(sm) {
        padding-top: $spacing-md;
        padding-bottom: $spacing-md;
    }

    @include media-breakpoint-up(md) {
        padding-top: $spacing-lg;
        padding-bottom: $spacing-lg;
    }
}

/** Section **/
section .container {
    @extend %section-padding;
}
