body, html {
    height: 100%;
    font-family: upgrade, sans-serif;
    font-style: normal;
}

.cta-box {
    max-width: 400px;
}

main {
    min-height: 700px;
}

main > section {
    position: relative;
}

.step-number {
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 5rem;
    font-weight: bold;
    display: block;
    padding: 2rem;
    z-index: 20;
}

#introduction {
    background-image: linear-gradient(to right, #FFF7F3 50%, white 50%) !important;
}

#instructions {
    & > h2 {
        font-size: 5rem;
        // position: absolute;
        // bottom: 5rem;
        // left: 0;
        // font-weight: bold;
        // display: block;
        // padding: 2rem;
    }
}

.instruction-list {
    article {
        margin-bottom: 2rem;
        text-align: center;
    }

    article figure {
        padding: 2rem;
    }
}

#precautions {
    padding-bottom: 150px;
}

#call-to-action {
    padding-top: 100px;
}

hr {
    margin-top: 3rem;
    margin-bottom: 3rem;
    border: 0;
    border-bottom: 25px solid #ff5d47;
    width: 80%;
}

hr.light {
    border-color: #FFF7F3;    
}

/* catches the overflow from after/before   */
.big-triangle-wrapper {
    overflow: hidden;
}

/* big triangle */
.big-triangle:before {
    right: 50%;
    border-right: 100vw solid transparent;
    border-left: 100vw solid;
}

.big-triangle:after {
    left: 50%;
    border-left: 100vw solid transparent;
    border-right: 100vw solid;
}

.big-triangle:after, .big-triangle:before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 50%;
    z-index: 10;
/*  change the hieght and the color below */
    border-bottom: 300px solid #FFF7F3;
    -moz-transform: rotate(0.000001deg);
    -webkit-transform: rotate(0.000001deg);
    -o-transform: rotate(0.000001deg);
    -ms-transform: rotate(0.000001deg);
    transform: rotate(0.000001deg);
}