body, html {
    height: 100%;
    font-family: upgrade, sans-serif;
    font-style: normal;
}

.cta-box {
    max-width: 400px;
}

main {
    min-height: 700px;
}

main > section {
    position: relative;
}

.step-number {
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 5rem;
    font-weight: bold;
    display: block;
    padding: 2rem;
}

#introduction {
    background-image: linear-gradient(to right, #FFF7F3 50%, white 50%) !important;
}

#instructions {
    & > h2 {
        font-size: 5rem;
        // position: absolute;
        // bottom: 5rem;
        // left: 0;
        // font-weight: bold;
        // display: block;
        // padding: 2rem;
    }
}

.instruction-list {
    article {
        margin-bottom: 2rem;
        text-align: center;
    }

    article figure {
        padding: 2rem;
    }
}

hr {
    margin-top: 3rem;
    margin-bottom: 3rem;
    border: 0;
    border-bottom: 25px solid #ff5d47;
    width: 80%;
}

hr.light {
    border-color: $light;    
}