nav.navbar {
    // Brand is uppercase
    .navbar-brand {
        text-transform: uppercase;
        font-weight: bold;
    }

    // Link items are lowercase
    .nav-item {
        text-transform: lowercase;            
        font-weight: 700;
    }

    @include media-breakpoint-up(md) {
        // spread out nav items
        .navbar-nav {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-end;
        }
    }

    @include media-breakpoint-up(xl) {
        // spread out nav items
        .navbar-nav {
            width: 100%;
            max-width: 900px;
            margin-left: auto;
            display: flex;
            justify-content: space-evenly;
        }
    }
}
