nav.navbar {
    // Brand is uppercase
    .navbar-brand {
        line-height: 1;
        flex: 1 1 0%;
    }

    .nav-item {
        font-weight: 600;
    }

    @include media-breakpoint-up(md) {
        // spread out nav items
        .navbar-nav {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-end;
        }
    }

    @include media-breakpoint-up(xl) {
        // spread out nav items
        .navbar-nav {
            width: 100%;
            max-width: 900px;
            margin-left: auto;
            display: flex;
            justify-content: space-evenly;
        }
    }
}
