h1, .h1 {
    font-weight: 800;
}

h2, .h2 {
    font-weight: 700;
}

h3, .h3 {
    font-weight: 700;
}

h4, .h4 {
    font-weight: 700;
}

h5, .h5 {
    font-weight: 700;
}

h6, .h6 {
    font-weight: 700;
}

.font-large {
    font-size: 1.5rem;
}